.input-container{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto
}

input{
    padding: 10px ;
    margin: 10px 10px;
    height: 20px;
    border: 0.1px solid grey;
    border-radius: 10px;
}