@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
button{
    padding: 10px 0px;
    min-width: 120px;
    max-height: 40px;
    border: none;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
}
.black-button{
    background-color: rgb(24, 23, 23);
    color: white
}

.white-button{
    background-color: white;
    color: black
}

button:hover{
    cursor: pointer;
}